name: Auto Deploy on Source B

on:
  push:
    branches:
      - main  # Kích hoạt khi có code push vào main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cài đặt sshpass
        run: sudo apt-get install -y sshpass

      - name: Kết nối SSH bằng mật khẩu và triển khai code
        run: |
          sshpass -p "${{ secrets.PASSWORD }}" ssh -tt -o StrictHostKeyChecking=no \
          -p ${{ secrets.PORT }} \
          ${{ secrets.USER }}@${{ secrets.HOST }} << 'EOF'

          echo "✅ Đã SSH vào server!"
          cd /home/doanvanquoc/CRM-2025
          sudo systemctl stop http_server
          sudo systemctl stop socket_server
          sudo systemctl stop kafka_server
          git pull origin main
          sudo systemctl start http_server
          sudo systemctl start socket_server
          sudo systemctl start kafka_server
          EOF
